body {
    margin: 0;
    padding: 0;
    background: #1c1f22;
}

.aniContainer {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.aniBlock {
    animation: rotate 240s infinite linear;
    position: absolute;
    display: block;
    background: url(bglines.png) no-repeat;
    background-size: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 15%;
    transition: opacity .5s;
}

footer {
    color: white;
    width: 400px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    left: calc(50% - 200px);
    transition: opacity .5s;
}

footer p {
    font: 11px/20px verdana;
    color: #999;
    margin: 4px;
}

footer a,
footer a:link,
footer a:active,
footer a:hover,
footer a:visited,
footer em {
    color: #ccc;
}

article {
    padding: 0;
    margin: auto;
    max-width: 700px;
    z-index: 500;
}

.menu {
    top: 20px;
    width: 100%;
    position: fixed;
    text-align: center;
}

.fadeout {
    opacity: 0 !important;
}

.hide {
    visibility: hidden !important;
}

.md-container {
    display: none;
}

section.loading {
    color: #ccc;
}

.menu-switch,
.menu-switch:before,
.menu-switch:after {
    opacity: 1;
    content: '';
    width: 40px;
    height: 40px;
    z-index: 997;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    transition: opacity .3s, right .5s, top, .5s;
}

.menu-switch {
    position: fixed;
    background: #ddd;
    transform: rotate(-8deg);
}

.menu-switch.start {
    top: calc(50% - 22px);
    right: calc(50% - 22px);
}

.menu-switch.done {
    top: 10px;
    right: calc(50% - 350px);
}

@media screen and (max-width: 700px) {
    .menu-switch.done {
        top: 10px;
        right: 10px;
    }
}

.menu-switch:before {
    top: 0;
    left: 0;
    background: #ddd;
    position: absolute;
    transform: rotate(16deg);
}

.menu-switch:after {
    top: 0;
    left: 0;
    background: #eee;
    position: absolute;
    transform: rotate(8deg);
}

.menu-switch button,
.menu-list button {
    background: url("alphabet-sprite.png?v2") no-repeat;
}

.menu-switch.start button {
    background-position: -17px -2552px;
}

.menu-switch button {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    z-index: 998;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    position: absolute;
    transform: rotate(8deg);
    font: bold 11px/125px Verdana;
    text-transform: capitalize;
    background-position: -18px -2504px;
}

.menu-list {
    padding: 0;
    opacity: 1;
    margin: auto;
    z-index: 999;
    max-width: 700px;
    transition: opacity .3s;
}

.menu-list li,
.menu-list li:before,
.menu-list li:after {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    content: '';
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
}

.menu-list li {
    margin: 15px;
    background: #ddd;
    position: relative;
    transform: rotate(-5deg);
}

.menu-list li:before {
    background: #ddd;
    position: absolute;
    transform: rotate(10deg);
}

.menu-list li:after {
    background: #eee;
    position: absolute;
    transform: rotate(5deg);
}

.menu-list button {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border: none;
    z-index: 1000;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    position: absolute;
    transform: rotate(5deg);
    font: bold 11px/125px Verdana;
}

.menu button:active,
.menu button:focus {
    outline: none;
}

.menu-list .alpha {
    background-position: -4px -10px;
}

.menu-list .beta {
    background-position: -4px -110px;
}

.menu-list .gamma {
    background-position: -4px -210px;
}

.menu-list .delta {
    background-position: -4px -310px;
}

.menu-list .epsilon {
    background-position: -4px -410px;
}

.menu-list .zeta {
    background-position: -4px -510px;
}

.menu-list .eta {
    background-position: -4px -610px;
}

.menu-list .theta {
    background-position: -4px -710px;
}

.menu-list .iota {
    background-position: -4px -810px;
}

.menu-list .kappa {
    background-position: -4px -910px;
}

.menu-list .lambda {
    background-position: -4px -1010px;
}

.menu-list .mu {
    background-position: -4px -1110px;
}

.menu-list .nu {
    background-position: -4px -1210px;
}

.menu-list .xi {
    background-position: -4px -1310px;
}

.menu-list .omicron {
    background-position: -4px -1410px;
}

.menu-list .pi {
    background-position: -4px -1510px;
}

.menu-list .rho {
    background-position: -4px -1610px;
}

.menu-list .sigma {
    background-position: -4px -1710px;
}

.menu-list .tau {
    background-position: -4px -1810px;
}

.menu-list .upsilon {
    background-position: -4px -1910px;
}

.menu-list .phi {
    background-position: -4px -2010px;
}

.menu-list .chi {
    background-position: -4px -2110px;
}

.menu-list .psi {
    background-position: -4px -2210px;
}

.menu-list .omega {
    background-position: -4px -2310px;
}

.menu-list .close {
    color: #610000;
    background-position: -4px -2410px;
}

.tool {
    width: 44px;
    height: 44px;
    display: inline-block;
    background: url(tool-sprite.png) no-repeat;
}

.tool.point {
    background-position: 0 0;
}

.tool.line {
    background-position: -44px 0;
}

.tool.circle {
    background-position: -88px 0;
}

.tool.perpendicular-bisector {
    background-position: -132px 0;
}

.tool.perpendicular {
    background-position: -176px 0;
}

.tool.angle-bisector {
    background-position: -220px 0;
}

.tool.parallel {
    background-position: -264px 0;
}

.tool.compass {
    background-position: -308px 0;
}

.tool.intersect {
    background-position: -352px 0;
}

.tool.midpoint {
    background-position: -396px 0;
}

.tool.next {
    width: 10px;
    background-position: -440px 0;
}

